# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# NuGet
.nuget/

# Local environment
.env
appsettings.Development.json
/obj/Debug/net10.0/ApiEndpoints.json
/obj/Debug/net10.0/apphost.exe
/obj/Debug/net10.0/CityInfo.API.assets.cache
